*{
    font-family: 'Noto Sans TC', sans-serif;
}
#start-timer{
   display:inline-block;
   justify-content: end;
   float:right;
}


.main-container{
    height: 10em;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    max-width: 80rem;
    margin: 0;
    padding: 2rem;
}
    
.begin{
    height: 10em;
    display:flex;
    align-items: center;
    flex-direction: column;
    max-width: 80rem;
    margin: 0;
   
}
