*{
    font-family: 'Noto Sans TC', sans-serif;
}
#start-timer{
   display:inline-block;
   justify-content: end;
   float:right;
}

.li_style {
    background-color: #4CAF50;
    font-size: 12px;
    padding: 10px 22px;
    border-radius: 4px;
    transition-duration: 0.4s;
    margin-bottom: 30px;
    
}

.li_style:hover{
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.main-container{
    height: 10em;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    max-width: 80rem;
    margin: 0;
    padding: 2rem;
}
    
.begin{
    height: 10em;
    display:flex;
    align-items: center;
    flex-direction: column;
    max-width: 80rem;
    margin: 0;
   
}
